/* To do List */
.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}

#todo-form input {
  width: 250px;
  font-size: 1em;
  background-color: transparent;
  text-align: center;
  border: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#todo-form input::placeholder {
  color: white;
}

#todo-form input:focus {
  outline: none;
}

.todo-list ul {
  font-size: var(--font-small);
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 0px 5px;
  font-size: 0.9em;
  color: white;
  align-items: center;
}

#todo-list button {
  font-size: 0.7em;
  background-color: transparent;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}

#todo-list button:hover {
  color: grey;
}
